<h1 class="centered-title">ブックマーク</h1>

<% if @bookmarked_events.any? %>
  <ul>
    <% @bookmarked_events.each do |event| %>
      <li>
        <!-- サムネイル画像を表示 -->
        <% if event.thumbnail.present? %>
          <%= image_tag event.thumbnail, alt: "Thumbnail", class: "img-thumbnail", width: 100, height: 100 %>
        <% end %>
        <br>
        <!-- イベントタイトル -->
        <h2><%= link_to event.title, event_path(event) %></h2>

        <!-- ブックマーク解除ボタン -->
        <%= button_to "ブックマーク解除", bookmark_path(current_user.bookmarks.find_by(event: event)), method: :delete, class: "btn btn-danger" %>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>ブックマークしたイベントはありません。</p>
<% end %>
