<div class="center jumbotron">
  <h2>ピックアップ</h2>

  <h2>人気のイベント</h2>
  <div class="center-button">
    <%= link_to 'もっと見る', search_path, class: 'btn btn-primary' %>
  </div>

  <h2>季節のおすすめ特集</h2>

  <h2>無料のイベント</h2>
  <div class="center-button">
    <%= link_to 'もっと見る', search_path, class: 'btn btn-primary' %>
  </div>
</div>
