<% provide(:title, @user.name) %>
<h1 class="centered-title">プロフィール</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="user-profile">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <h3>
        <%= @user.email %>
      </h3>
    </div>
    <div class="center-button">
      <%= link_to '設定', edit_user_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
