@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 80px;
  background-color: #E6E6E6;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

/* header */

.navbar {
  background-color: transparent; // 背景を透明に設定
  border: none; // 境界線を非表示に
  box-shadow: none; // 影を非表示に
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* footer */

.footer {
  background-color: #425666;
  color: #fff;
  padding: 40px 0;

  h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }

  a {
    color: #90caf9;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    .list-inline-item {
      margin-right: 15px;
    }
  }

  .text-center {
    ul {
      .list-inline-item {
        margin-right: 10px;
      }
    }
  }
}
