@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 80px;
  background-color: #E6E6E6;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.centered-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

/* ユーザー認証 */

.row {
  margin-bottom: 80px;
}

.gravatar_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  img {
    border-radius: 50%;
  }

  a {
    margin-left: 100px;
    padding: 10px 20px;
    background-color: #4FB4D8;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s;
  }

  a:hover {
    background-color: #3A9BB8;
  }
}

/* ボタン */

.btn-primary {
  background-color: #4FB4D8;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3A9BB8;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-control {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

a {
  color: #4FB4D8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* チェックボックス */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* ヘッダー */

.navbar {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* ドロップダウンメニュー */

.dropdown-menu.active {
  display: block;
}

/* フッター */

.footer {
  background-color: #425666;
  color: #fff;
  padding: 40px 0;

  h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }

  a {
    color: #90caf9;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    .list-inline-item {
      margin-right: 15px;
    }
  }

  .text-center {
    ul {
      .list-inline-item {
        margin-right: 10px;
      }
    }
  }
}

/* ホーム */

.jumbotron h2 {
  margin-bottom: 30px;
}

/* サムネイル */

.thumbnail-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.thumbnail-placeholder {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  font-size: 14px;
  color: #666;
  text-align: center;
}
